.grid {
  border: 0.125rem solid;
  border-radius: 1rem;
  padding: 0.25rem 0.1rem;
  margin: 0.25rem 1.4375rem;
}

.grid p {
  font-style: normal;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.5rem;
  padding: 1.25rem;
  line-height: 2;
}
